@font-face {
	font-family:'Grinched';
	src: url('grinched/Grinched.ttf');
}

body {
	font-family: 'Grinched';
	background: #fff;
}

h1 {
	color: #000;
	font-size: 40px;
	letter-spacing: 4px;
	text-align: center;
}

.wrapper {
	text-align: center;
}

button {
	background-color: #f00;
	font-size: 25px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 5px solid #006400;
    margin-top: 10%;
}